body,html {
    margin:0;
    font-family:Muli, sans-serif;
    scroll-behavior: smooth;
    margin:0;
    padding:0;
    overflow: overlay;
}

h1,h2,h3,h4,h5,h6{
    margin:0;
    padding:0;
}

h2{
    font-size:26px;
}

section, header{
    display: flex;
    justify-content: center;
}

#header{
    background-color:rgb(0, 30, 55);
    padding:0;
    width: 100%;
    position: fixed;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height:70px;
    box-shadow: 0px 0px 10px 2px grey;
}

.container{
    width:80%;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}


header .container{
    display:flex;
    justify-content: center;
}

.section {
    width: 100%;
}

.main-nav{
    width:100%;
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.main-nav ul{
    padding:0;
    margin:0;
    list-style: none;
    width:100%;
    display:flex;
    flex-wrap: nowrap;
}

.main-nav ul li{
    margin: 20px 15px;
    text-align: center;
}

.nav-cat{
    text-decoration: none;
    color:#fff;
    font-size: 18px;
    transition:0.25s ease;

}

.nav-cat:hover{
    text-decoration: none;
    color : rgb(255, 102, 46);
    transition:0.25s ease;
}

#title{
    color:white;
}

.selectedNav, .selectedLanguage {
    color : rgb(255, 102, 46);
}

.section-even, .section-odd{
    min-height:100vh;
    /* max-height:fit-content; */
    display:flex;
    align-items: center;
    margin:25px 0;
}

.half-section {
    min-height: 50vh;
}

.section-odd{
    background-color: rgb(240, 240, 240);
}

.section-even{
    background-color: white;
}

.section-title{
    width:100%;
    text-align: center;
    margin:5px 0;
}

.hr{
    width: 100%;
    height: 4px;
    background-color: rgb(255, 102, 46);;
    border: none;
}

.section-title-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    width:100%;
    margin-top:20px;
    margin-bottom:20px;
}

/*Scrollbar*/
::-webkit-scrollbar {
    width: 0.3vw;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/******** HOME ********/
#home-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
}

#home-profile-picture-container{
    display:flex;
    justify-content: center;
    align-items: center;
}

#home-text-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#profile-picture{
    border : rgb(195, 195, 195) solid 5px;
    border-radius: 50%;
    width:350px;
}

.list-container{
    display: flex;
    justify-content: center;
    width:100%;
    margin:0;
}

.list-container ul {
    padding:0;
    margin:0 25px;
    margin-left:50px;
}

.list-container ul li {
    margin:12.5px 35px;
    list-style-type: circle;
    font-size:18px;
}


/******** PROJECTS ********/
#project-container{
    display:flex;
    width:100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top:15px;
}

#first-row, #second-row {
    width: 100%;
    display:flex;
    justify-content: center;
    margin:30px 0;
}

.project {
    width: 300px;
    height: 275px;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    border-radius: 10px;
    margin:15px 15px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project:hover {
    cursor:pointer;
}

.project a{
    text-decoration: none;
    margin:0;
    padding:0;
    display:flex;
    flex-wrap: wrap;
}

.project:hover a > .project-description{
    cursor:pointer;
    background-color:rgb(255, 102, 46) !important;
    color:black;
    font-size:20px;
    transition: 0.25s ease;
}

.project-picture{
    width: 300px;
    height:200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}



.project-description{
    width: 300px;
    height:75px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(0, 30, 55);
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s ease;
    font-size:18px;
    /* margin-top:-3.5px; */
}

.project-description p{
    margin:0;
    padding:0;
}


/******** RESUME ********/
#resume-container{
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    width:100%;
}

#download-button-container{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    height:60px;
}

#download-link{
    text-decoration: none;
}

#download-button{
    font-family:Muli, sans-serif;
    font-size: 16px;
    outline:none;
    border:none;
    background-color:rgb(0, 30, 55);
    color:white;
    cursor:pointer;
    width:250px;
    height:45px;
    border-radius: 5px;
    transition:0.25s ease;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

#download-button:hover{
    outline:none;
    border:none;
    background-color:rgb(255, 102, 46);
    color:black;
    cursor:pointer;
    width:270px;
    height:55px;
    font-size:18px;
    font-weight: bold;
    transition:0.25s ease;
}

.resume-text{
    font-size: 20px;
    width:100%;
    text-align: center;
}


/******** CONTACT ********/
#social-container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#footer-social{
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-top: 10px;
    width:30%;
    height:85px;
}

#github, #linkedin, #mail{
    font-size:60px;
    color: rgb(0, 30, 55);
    transition:0.25s ease;
    margin:0 5px;
}

#github:hover, #linkedin:hover, #mail:hover{
    cursor:pointer;
    color:rgb(255, 102, 46);
    transition:0.25s ease;
    font-size:70px;
}


/********************DESKTOP********************/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*********************TABLETS*********************/
@media only screen and (max-width: 1200px){
    #home-text-container .section-title{
        margin:5px 10px;
    }


    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    #header{
        position: static;
    }

    .main-nav{
        justify-content: center;
    }

    section{
        width:100%;
    }

    #profile-picture{
        width:250px;
        margin:10px 0;
    }

    .list-container ul li {
        margin:12.5px 0;
    }

    #footer-social{
        display: flex;
        justify-content: space-between;
        align-items:center;
        margin-top: 10px;
        width:60%;
        height:85px;
    }

    #github, #linkedin, #mail{
        font-size:50px;
    }

    #github:hover, #linkedin:hover, #mail:hover{
        font-size:60px;
    }
}

/*********************MOBILE*********************/
@media only screen and (max-width: 450px){
    p{
        margin:0 10px;
    }


    .col-t-1 {width: 8.33%;}
    .col-t-2 {width: 16.66%;}
    .col-t-3 {width: 25%;}
    .col-t-4 {width: 33.33%;}
    .col-t-5 {width: 41.66%;}
    .col-t-6 {width: 50%;}
    .col-t-7 {width: 58.33%;}
    .col-t-8 {width: 66.66%;}
    .col-t-9 {width: 75%;}
    .col-t-10 {width: 83.33%;}
    .col-t-11 {width: 91.66%;}
    .col-t-12 {width: 100%;}

    .main-nav ul li{
        margin: 20px 7.5px;
    }

    .main-nav ul li a{
        font-size: 15px;
    }

    .section-even, .section-odd{
        min-height:100vh;
        max-height:fit-content;
        height:fit-content;
        display:flex;
        align-items: center;
        margin:0;
    }

    .half-section{
        min-height: 50vh;
    }

    .list-container ul li {
        margin:12.5px 0;
    }

    #footer-social{
        display: flex;
        justify-content: space-between;
        align-items:center;
        margin-top: 10px;
        width:50%;
        height:85px;
    }

    #github, #linkedin, #mail{
        font-size:40px;
    }

    #github:hover, #linkedin:hover, #mail:hover{
        font-size:50px;
    }
}